{% extends 'core/base.html' %}
{% block title %} {% endblock title %}
{% block content %}
<a class="btn btn-primary" href="{% url 'addtodo' %}" role="button": style="background-color: plum; border-color: purple;">Add</a>
<hr>
{% for i in todo %}
<ul class="list-group">
    <li class="list-group-item">
        {{i.title}} - {{i.description}}</li>
        
    <div class="flex py-4 ">
        <a class="btn btn-primary" href="{% url 'edittodo' id=i.id %}" role="button": style="background-color: plum; border-color: purple">Edit</a>
        <a class="btn btn-primary" href="{% url 'deletetodo' id=i.id %}" role="button": style="background-color: plum; border-color: purple;">Delete</a>
    </div>

</ul>
{% endfor %}
{% endblock content %}